<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>
<h1 th:text="'List of Pet Owners'">List of Pet Owners</h1>

</body>
</html>