<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic Index</title>
</head>
<body>
<h1 th:text="'Index Page'">Pet Clinic Index Page</h1>

</body>
</html>